@import "../Vyhod/Vyhod.sass"

.Nejsme
  color: #3D0077

  .kopyto
    text-transform: uppercase

  img
    width: 250px
    margin: 0 auto

  .utb
    width: 290px

  p
    margin: 0 auto

  @media (max-width: 950px)
    .razeni
      flex-direction: column !important 

  .sutb
    margin-top: -10px

  .utb
    margin-top: -30px
    margin-left: -30px