@import "../Vyhod/Vyhod.sass"

.Nejsme
  color: black

  .kopyto
    color: #015562
    margin-bottom: 15px

  img
    width: 250px
    margin: 0 auto

  .utb
    width: 290px

  p
    margin: 0 auto

  .razeni
    font-size: 25px
    color: #015562
    +tarrum

  @media (max-width: 950px)
    .razeni
      flex-direction: column !important 

  .sutb
    margin-top: -10px

  .utb
    margin-top: -30px
    margin-left: -30px