.Vyber
  .sekce1, .sekce2
    height: 200px
    color: white
    display: flex
    justify-content: center
    align-items: center

    p
      border: 5px solid white
      font-size: 40px
      text-transform: uppercase
      width: 250px

  .sekce1
    background: #FF8500

  .sekce2
    background: #3D0077

  @media (max-width: 768px)
    .razeni
      flex-direction: column !important


