.Intro
	height: 400px
	background-color: #015562
	overflow: hidden
	text-align: center

	.jmenoBox
		color: white
		background-color: #015562
		z-index: 1
		font-size: 50px
		text-transform: uppercase
		text-align: left
		position: absolute
		border: 5px solid white
		padding: 15px
		left: 50px
		margin-top: 90px
		line-height: 50px

	.introImages
		display: flex

		img
			height: 400px

		.boss
			position: relative
			right: 450px
			bottom: -50px
			z-index: 2

		.cubeBG
			position: relative
			left: -315px
			z-index: 0
