.Intro
	height: 350px
	background-color: #015562
	overflow: hidden
	display: flex

	.introImages
		display: flex

	img
		height: 350px

	.boss
		position: relative
		right: 350px
		bottom: -50px

	.cubeBG
		position: relative
		left: -275px