.Vyhod
	height: 200px
	display: flex
	justify-content: center
	align-items: center
	flex-direction: column
	color: #015562
	-webkit-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.75)
	-moz-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.75)
	box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.75)

	.kopyto
		font-size: 25px
		line-height: 20px

	.obyc
		font-size: 15px
		width: 95%

	button
		color: white
		font-size: 15px
		background: #015562
		padding: 8px 15px
		border-radius: 20px
		font-weight: 700
		border: none

		&:focus
			outline: none
