@import "../../mixins.sass"

.Vyhod, .Nejsme
	display: flex
	justify-content: center
	align-items: center
	flex-direction: column
	color: #015562
	padding: 20px 5%

	.info-line
		font-size: 11px
		font-weight: bold
		@media (min-width: 350px)
			font-size: 12px
		@media (min-width: 375px)
			font-size: 13px
		@media (min-width: 400px)
			font-size: 14px
		@media (min-width: 425px)
			font-size: 15px
		@media (min-width: 450px)
			font-size: 16px
		@media (min-width: 475px)
			font-size: 17px
		@media (min-width: 700px)
			font-size: 23px
		@media (min-width: 1000px)
			font-size: 25px

	.kopyto
		+tarrum
		font-size: 31px
		margin-top: 15px
		@media (min-width: 350px)
			font-size: 33px
		@media (min-width: 375px)
			font-size: 34px
		@media (min-width: 400px)
			font-size: 35px
		@media (min-width: 425px)
			font-size: 36px
		@media (min-width: 450px)
			font-size: 40px
		@media (min-width: 475px)
			font-size: 50px
		@media (min-width: 700px)
			margin: 30px 0px 50px 0px
			font-size: 70px
		@media (min-width: 1000px)
			font-size: 80px
		@media (min-width: 1200px)
			font-size: 90px
			margin: 20px 0px 40px 0px

	.obyc
		font-size: 14px
		margin: 15px 0px 25px 0px
		@media (min-width: 350px)
			font-size: 15px
		@media (min-width: 400px)
			font-size: 16px
		@media (min-width: 450px)
			font-size: 17px
		@media (min-width: 600px)
			font-size: 18px
		@media (min-width: 1000px)
			font-size: 20px
			padding: 0% 15%

	button
		color: white
		font-size: 15px
		background: #015562
		padding: 8px 15px
		border-radius: 20px
		font-weight: 700
		border: none
		margin-bottom: 10px

		&:focus
			outline: none

.rozhovory
	.Vyhod
		.kopyto
			color: #015562

		.obyc
			color: black
