.Vyhod
	height: 200px
	display: flex
	justify-content: center
	align-items: center
	flex-direction: column
	color: #015562
	-webkit-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.75)
	-moz-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.75)
	box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.75)
	overflow: visible

	.kopyto
		font-size: 30px
		line-height: 20px

	.obyc
		font-size: 13px
		width: 95%